:root {
  --Dark-Charcoal: #312e2c;
  --Wenge-Brown: #5f564d;
  --Snow: #fff7fb;
  --Dark-Raspberry: #7a284e;
  --Brandy-Red: #854632;

  --Eggshell: #f3e5d7;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  max-width: 656px;
  max-height: 300px;
  display: block;
  margin: auto;
}
.contenido {
  padding: 0;
}

.texto-contenido {
  margin: auto;
  width: 100%;
  max-width: 656px;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.preparacion-main {
  font-style: normal;
  font-weight: 400;
}
strong {
  font-weight: 700;
}
h1 {
  padding-bottom: 24px;
  color: var(--Dark-Charcoal);
  font-family: "Young Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 36px */
}

.parrafo-preparacion {
  color: var(--Wenge-Brown);
  font-family: Outfit;
  font-size: 16px;
  line-height: 150%;
}

/*time*/

.time {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  border-radius: 12px;
  background: var(--Snow);
}

h2 {
  color: var(--Dark-Raspberry);
  /* Heading S */
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 20px */
}

.ul-time {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: -24px;
}

.list-time {
  color: var(--Wenge-Brown);
  line-height: 150%;
}
.text-time {
  list-style: none;
}

.ul-separador {
  position: relative;
  right: 16px;
}

.list-time::marker {
  color: var(--Dark-Raspberry, #7a284e);
  font-size: small;
}

hr {
  width: 100%;
  min-width: 311px;
  height: 1px;
  color: #e3ddd7;
}

/*INGREDIENTES*/

h3 {
  color: var(--Brandy-Red);
  font-family: "Young Serif";
  font-size: 28px;
  line-height: 100%;
  padding-bottom: 24px;
}

.lista-ingredientes {
  color: var(--Wenge-Brown);
  font-family: Outfit;
  font-size: 16px;
  line-height: 150%;
  list-style-image: url("/img/litime.svg");
  margin-left: -22px;
}

.li-ingre {
  list-style: none;
}

.list-ingrediente {
  padding-top: 8px;
}

.list-ingrediente::first-letter {
  margin-left: 28px;
}

/*instructions*/

.ol-instructions {
  color: var(--Wenge-Brown);
  font-family: Outfit;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  gap: 8px;
  margin-left: -20px;
}

.li2 {
  padding-top: 8px;
  list-style: none;
}

.text {
  font-weight: 700;
}

.li-instructions::marker {
  color: var(--Brandy-Red);
  font-weight: 700;
}

/*NUTRICION*/

.section-nutrition {
  color: var(--Wenge-Brown);
  line-height: 150%;
  font-family: Outfit;
}

table {
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  margin-top: 24px;
}
tr {
  padding: 0px 32px;
  align-items: center;
  gap: 16px;
}

th {
  color: var(--Wenge-Brown);
  /* Body (Regular) */
  font-family: Outfit;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

th,
td {
  font-weight: 400;
  width: 100%;
  width: 665px;
  height: 1px;
  text-align: start;

  padding-left: 24px;

  border-bottom: 1px solid #e3ddd7;
}
td {
  color: var(--Brandy-Red, #854632);
  font-weight: 700;
}
.th,
.td {
  border: 0;
}

@media (min-width: 736px) {
  body {
    margin: auto;
    display: flex;
    width: 1440px;
    padding: 123px 352px 124px 352px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Eggshell);
  }

  img {
    border-radius: 12px;
  }

  .contenido {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
  }

  .texto-contenido {
    margin: auto;
    width: 100%;
    max-width: 656px;
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
  }
}
