:root {
  --Dark-Charcoal: #312e2c;
  --Wenge-Brown: #5f564d;
  --Snow: #fff7fb;
  --Dark-Raspberry: #7a284e;
  --Brandy-Red: #854632;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.img-header {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: bottom;
}

/*main*/
.main {
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

/*preparation main*/
.preparacion-main {
  font-weight: 400;
  font-style: normal;
}
h1 {
  color: var(--Dark-Charcoal);
  font-family: "Young Serif";
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
}

.parrafo-main {
  color: var(--Wenge-Brown);
  font-family: "Outfit";
  font-size: 16px;
  line-height: 150%;
  padding-top: 24px;
}

/*articulo-time*/
.article-time {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--Snow);
  font-style: normal;
  font-family: Outfit;
}

.titulo-time {
  color: var(--Dark-Raspberry);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.lista-time {
  color: var(--Wenge-Brown);
  font-size: 16px;
  line-height: 150%;
}

.lista-time .list-time {
  font-weight: 400;
  list-style: none;
}

.lista-time .list-time::before {
  position: relative;
  top: 4.2px;
  content: "\2022";
  display: inline-block;
  color: var(--Brandy-Red);
  font-size: 22px;
  width: 1.4em;
  margin-left: -1.7em;
}
.lista-time .pr::before {
  top: 5px;
}

/*section-ingredientes*/

h3 {
  color: var(--Brandy-Red);
  font-family: Young Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}

.lista-ingredientes {
  flex: 1 0 0;
  padding-top: 24px;
}

.lista-ingredientes .list-ingrediente {
  color: var(--Wenge-Brown);
  font-family: "Outfit";
  font-size: 16px;
  font-style: normal;
  line-height: 150%; /* 24px */
  list-style: none;
  margin-top: 8px;
}

.list-ingrediente::before {
  content: "\2022";
  position: relative;
  top: 2px;
  display: inline-block;

  color: #854632;
  font-size: 22px;
  width: 1.8em;
  margin-left: -1.7em;
}

.lista-ingredientes .ul::before {
  top: 5px;
}

.linea {
  width: 100%;
  height: 1px;
  background-color: #e3ddd7;
}
/*section-instructions*/
.lista-instructions {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-left: -1em;

  color: var(--Wenge-Brown);

  font-family: "Outfit";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.lista-instructions .list-instructions {
  font-weight: 400;
  list-style-type: none;
  counter-increment: lista;
  position: relative;
}

.lista-instructions .list-instructions::before {
  color: #854632;
  content: counter(lista) ".";
  left: -37px;
  position: absolute;
  text-align: right;
  width: 26px;
  font-weight: 700;
}

/*Nutrition*/
.parrafo-nutrition {
  color: var(--Wenge-Brown);
  /* Body (Regular) */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 24px;
  align-items: flex-start;
  display: flex;
  gap: 12px;
}

/*table*/
table {
  width: 100%;
  margin-top: 24px;
}

th {
  color: #5f564d;
  font-weight: 400;
  margin-left: -2em;
}
.linear {
  position: relative;

  height: 1px;
  background-color: #e3ddd7;
  margin: 12px 0;
}
th,
.td-table {
  width: 115.5px;
}

.td-table {
  color: var(--Brandy-Red);
  font-weight: 700;
  margin-left: 2em;
  text-align: left;
}

tr {
  display: flex;
  padding: 0px 32px;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

@media (min-width: 736px) {
  header {
    padding: 40px 40px;
  }
  .img-header {
    border-radius: 12px;
  }

  .main {
    padding: 40px;
    gap: 40px;
    border-radius: 24px;
  }

  .lista-time .pr::before {
    top: 3px;
  }

  .lista-ingredientes .ul::before {
    top: 2px;
  }

  th,
  .td-table {
    width: 288px;
  }

  th {
    text-align: left;
    padding-left: 32px;
  }
}
