:root {
  --Dark-Charcoal: #312e2c;
  --Wenge-Brown: #5f564d;
  --Snow: #fff7fb;
  --Dark-Raspberry: #7a284e;
  --Brandy-Red: #854632;

  --Eggshell: #f3e5d7;
}

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
  max-width: 656px;
  max-height: 300px;
  display: block;
  margin: auto;
}
.contenido {
  padding: 0;
}

.texto-contenido {
  margin: auto;
  width: 100%;
  max-width: 656px;
  display: flex;
  padding: 40px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.preparacion-main {
  font-style: normal;
  font-weight: 400;
}
h1 {
  padding-bottom: 24px;
  color: var(--Dark-Charcoal);
  font-family: "Young Serif";
  font-size: 36px;
  line-height: 100%; /* 36px */
}

.parrafo-preparacion {
  color: var(--Wenge-Brown);
  font-family: Outfit;
  font-size: 16px;
  line-height: 150%;
}

/*article-time*/

.article-time {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  font-family: Outfit;
  font-style: normal;
}

h2 {
  color: var(--Dark-Raspberry);
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
}

.ul-time {
  color: var(--Wenge-Brown);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  list-style: none;
}

.list-time {
  padding-top: 8px;
}
.list-time::before {
  position: relative;
  top: 4.2px;
  content: "\2022";
  display: inline-block;
  color: var(--Dark-Raspberry);
  font-size: 22px;
  width: 1.4em;
  margin-left: -1.7em;
}

.ul-time .t1::before {
  top: 10px;
}

/*INGREDIENTES*/

.linea {
  width: 100%;
  max-width: 665px;
  height: 1px;
  background-color: #e3ddd7;
}

.section-ingredientes {
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: var(--Brandy-Red);
  font-family: "Young Serif";
  font-size: 28px;
  line-height: 100%;
  padding-bottom: 24px;
}

.lista-ingredientes {
  color: var(--Wenge-Brown);
  font-family: Outfit;
  font-size: 16px;
  line-height: 150%;
  text-align: start;
  list-style: none;
  padding: 0px;
  margin-left: 10px;
}

.lista-ingredientes .list-ingrediente::before {
  content: "\2022";
  position: relative;
  padding-right: 28px;
  top: 2px;
  display: inline-block;
  color: var(--Brandy-Red);
  font-size: 22px;
  line-height: 25px;
  vertical-align: -3px;
}

/*instructions*/
.lista-instructions {
  color: var(--Wenge-Brown);

  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.li-instructions {
  color: var(--Wenge-Brown);
  font-weight: 400;

  list-style-type: none;
  counter-increment: lista;
  position: relative;
  padding-top: 8px;
}

.li-instructions::before {
  text-align: right;
  width: 16px;
  color: #854632;
  content: counter(lista) ".";
  position: absolute;
  left: -32px;
  font-weight: 700;
}

.section-nutrition {
  color: var(--Wenge-Brown);
  line-height: 150%;

  /* Body (Regular) */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  flex: 1 0 0;
  margin-top: 24px;
}
tr {
  padding: 0px 32px;
  align-items: center;
  gap: 16px;
}

th {
  color: var(--Wenge-Brown);

  /* Body (Regular) */
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

th,
td {
  font-weight: 700;

  width: 100%;
  width: 665px;
  height: 1px;
  text-align: start;
  padding-top: 8px;
  padding-left: 24px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid #e3ddd7;
  border-left: 0px;
}
td {
  color: var(--Brandy-Red, #854632);
}
.th,
.td {
  border: 0;
}

@media (min-width: 736px) {
  img {
    border-radius: 20px;
  }

  .contenido {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
  }
  body {
    margin: auto;
    display: flex;
    width: 1440px;
    padding: 123px 352px 124px 352px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--Eggshell);
  }
}
