:root {
  --White: #fff;
  --Soft-Blue: #8bacd9;
  --Cyan: #00fff8;
  --very-dark-blue-card-bg: #15263f;
  --very-dark-blue-main-bg: #0d192c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  padding: 152px 0px;
  justify-content: center;
  align-items: center;
  background: var(--very-dark-blue-main-bg);
  font-feature-settings: "clig" off, "liga" off;
  height: 100vh;
  font-family: Outfit;
}

main {
  width: 350px;
  height: 596px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--very-dark-blue-card-bg);
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  border: none;
}
.container {
  padding: 24px 24px 32px 24px;
}
.img1 {
  text-decoration: none;
}

.imagen1 {
  width: 100%;
  border-radius: 8px;
  border: none;
}

.imagen1:hover {
  border-radius: 8px;
  opacity: 0.503;
}

.titulo {
  text-decoration: none;
}
h3 {
  color: var(--White);
  font-size: 22px;
  font-weight: 600;
  padding-top: 16px;
}

.titulo:hover {
  h3 {
    color: var(--Cyan, #00fff8);
  }
}
p {
  color: var(--Soft-Blue);
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
}

article {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

span {
  color: var(--Cyan);
  font-size: 16px;
  font-weight: 600;
}
.small {
  color: var(--Soft-Blue);
  font-size: 16px;
  font-weight: 400;
}
.ETH {
  display: flex;
  gap: 6.48px;
  width: 100px;
  align-items: center;
}
.left {
  display: flex;
  gap: 6.48px;
  width: 100px;
  align-items: center;
}

hr {
  background: var(--very-dark-blue-line);
  margin-top: 24px;
}

footer {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  width: 33px;
  height: 33px;
  border-radius: 33px;
  border: 1px solid var(--White);
}

.jules {
  color: var(--White);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.jules:hover {
  color: var(--Cyan);
}

.texto-footer {
  align-self: center;
  padding-left: 16px;
}
